<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.moonlithome.game.server.monster.mapper.MonsterMapper">

    <resultMap id="monsterResult" type="net.moonlithome.game.common.dto.monster.MonsterInfoDto">
        <result property="monsterId" column="monster_id"/>
        <result property="physicalAttack" column="physical_attack"/>
        <result property="spellAttack" column="spell_attack"/>
        <result property="physicalDefence" column="physical_defence"/>
        <result property="spellDefence" column="spell_defence"/>
    </resultMap>

    <select id="getMonsterInfo" resultMap="monsterResult">
        SELECT * FROM monster
        <where>
            <if test="monsterId != null and monsterId != ''">
                monster_id = #{monsterId}
            </if>
        </where>
    </select>

</mapper>